<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:include="/client/_head"></th:block>
	<body>
		<th:block th:include="/client/_header"></th:block>
		
		<th:block th:include="/client/_slide"></th:block>
		<div id="mainBody">
			<div class="container">
				<div class="row">
					<th:block th:include="/client/_slidebar"></th:block>
					
					<div class="span9">		
						<div class="well well-small">
							<h4>Featured Products <small class="pull-right">200+ featured products</small></h4>
							<div class="row-fluid">
								<div id="featured" class="carousel slide">
									<div class="carousel-inner">
										<div class="item active">
						  					<ul class="thumbnails">
						  						<th:block  th:each="i: ${#numbers.sequence(0, 3)}">
													<li class="span3">
								  						<div class="thumbnail">
								  							<i class="tag"></i>
															<a href="product_details.html"><img th:src="'themes/images/products/b'+ ${i + 1} + '.jpg'" alt=""></a>
															<div class="caption">
																<h5>Product name</h5>
											  					<h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
															</div>
								  						</div>
													</li>
												</th:block>
											</ul>
						  				</div>
										<th:block  th:each="i: ${#numbers.sequence(0, 2)}">
							  				<div class="item">
							  					<ul class="thumbnails">
							  						<th:block  th:each="j: ${#numbers.sequence(i * 4, i * 4 + 3)}">
														<li class="span3">
									  						<div class="thumbnail">
									  							<i class="tag"></i>
																<a href="product_details.html"><img th:src="'themes/images/products/'+ ${j + 1} + '.jpg'" alt=""></a>
																<div class="caption">
																	<h5>Product name</h5>
												  					<h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
																</div>
									  						</div>
														</li>
													</th:block>
												</ul>
							  				</div>
						  				</th:block>
						  			</div>
						  			<a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
						  			<a class="right carousel-control" href="#featured" data-slide="next">›</a>
						  		</div>
							</div>
						</div>
					
						<h4>Latest Products </h4>
					  	<ul class="thumbnails">
					  		<th:block  th:each="i: ${#numbers.sequence(0, 11)}">
								<li class="span3">
							  		<div class="thumbnail">
										<a  href="product_details.html"><img th:src="'themes/images/products/'+ ${i + 1} + '.jpg'" alt=""/></a>
										<div class="caption">
								  			<h5>Product name</h5>
										  	<p> 
												Lorem Ipsum is simply dummy text. 
										  	</p>
								 
								  			<h4 style="text-align:center">
								  				<a class="btn" href="product_details.html"><i class="icon-zoom-in"></i></a> 
								  				<a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> 
								  				<a class="btn btn-primary" href="#">$222.00</a>
								  			</h4>
										</div>
							  		</div>
								</li>
							</th:block>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		
		<th:block th:include="/client/_footer"></th:block>
		
		<!-- Placed at the end of the document so the pages load faster ============================================= -->
		<script src="themes/js/jquery.js" type="text/javascript"></script>
		<script src="themes/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="themes/js/google-code-prettify/prettify.js"></script>
		
		<script src="themes/js/bootshop.js"></script>
	    <script src="themes/js/jquery.lightbox-0.5.js"></script>
		
	</body>
</html>